<link rel="stylesheet" href="tpl/home/deptElectiveCourse/index.css" type="text/css">

<div class="all">
	<div class="all-left">
		<div class="right-content-table">
			<div class="row" style="margin: 8px 0 0 0; padding: 6px 0 0 0;">
				<div class="form-group col-xs-2" style="width: 164px;margin-bottom: -6px;position: relative;top: -8px;left: -14px;padding-right: 0px;">
					<label class="col-xs-12 control-label" style="font-size:20px;text-align: left;">院系选修课</label>
					<label class="col-xs-12 control-label" style="font-size: 13px;padding-left: 26px;">{{semesterId}}学期</label>
				</div>
				<div class="form-group col-xs-6">
					<div class="col-xs-7">
						<input placeholder="教师" type="text" ng-model="deptElectiveCourse.roundName" id="roundName" name="roundName" class="form-control"/>
					</div>
					<div class="col-xs-5" style="text-align: left;">
						<button id="btn_add" type="button" class="btn btn-info" ng-click="aaa()" style="width: 110px;">
							<span class="glyphicon toolbar-btn-icon"></span><font color="#000000">搜索一下</font>
						</button>
						<label class="control-label" style="color: #0000FF;position: relative;top: 8px;">高级搜索</label>
					</div>
				</div>
				<div class="col-xs-4">
				</div>
			</div>
			<hr/>
			<table id="deptElectiveCourseTable" ui-jq="bootstrapTable" ui-options="deptElectiveCourseTable" class="table"></table>
		</div>
	</div>

	<!-- 右侧 -->
	<div class="all-right">
		<div class="pull-right">
			<i class="fa fa-outdent fa-lg pull-right-img1" aria-hidden="true"
				ng-click="clickRightPersonInfo()">
				<a class="tooltip-test" data-toggle="tooltip" data-placement="top" title="我的选课情况">
					<img id="tip1" src="img/choose/personInfo-nature.png">
				</a>
			</i>
			
			<i class="fa fa-outdent fa-lg pull-right-img2" aria-hidden="true" 
				ng-click="clickRightSelectedCourse()">
				<a class="tooltip-test" data-toggle="tooltip" data-placement="top" title="我的已选课表">
					<img src="img/choose/selectedCourse-nature.png">
				</a>
			</i>
				
			<i class="fa fa-outdent fa-lg pull-right-img3" aria-hidden="true" 
				ng-click="clickRightUnsuccessfulResult()">
				<a class="tooltip-test" data-toggle="tooltip" data-placement="bottom" title="我的落选课表">
					<img src="img/choose/unsuccessfulResult-nature.png">
				</a>
			</i>
		</div>
		<div class="all-right_wrap" ng-show="isShowAllRight">
			
			<!-- 个人信息 -->
			<div id="personInfo" ng-show="personInfo" style="padding: 5% 0 30% 0;">
				<div class="head" style="margin: 0 0 0 27%;">
					<img src="img/choose/touxiang.png" style="float: left;width: 102px;height: 120px;">
					<ul class="user_info">
						<li><label>{{student.studentName}}</label></li>
						<li><label>{{student.deptName}}</label></li>
						<li><label>{{student.className}}</label></li>
						<li><label>{{student.grade}}级</label></li>
					</ul>
				</div>
	            <div class="col-md-12">
					<div class="middle-right-center">
						<!--背景圆-->
				        <div class="circle">
				            <!--左半边圆-->
				            <div class="circle_left">
				                <div class="clip_left">
				                </div>
				            </div>
				            <!--右半边圆-->
				            <div class="circle_right">
				                <div class="clip_right"></div>
				            </div>
				            <div class="mask">
				                <span>{{student.alreadyFinish}}</span>%
				            </div>
				        </div>
					</div>
	            </div>
	            
				<div class="right-content-table" style="padding-top: 400px;">
					<div class="row" style="padding-bottom: 20px;font-size: 15px;">	
						<div class="col-xs-1">
						</div>
						<div class="form-group col-xs-3" style="margin-bottom: 0;padding: 0;">
							<label class="col-xs-12 control-label" style="">总学分:{{student.totalNum}}</label>
						</div>
						<div class="form-group col-xs-3" style="margin-bottom: 0;padding: 0;">
							<label class="col-xs-12 control-label" style="">已获学分:{{student.alreadyFinishNum}}</label>
						</div>
						<div class="form-group col-xs-3" style="margin-bottom: 0;padding: 0;">
							<label class="col-xs-12 control-label" style="">已选学分:0</label>
						</div>
						<div class="col-xs-1">
						</div>
					</div>
					<div ng-repeat="item in creditResults">
						<div class="row" style="padding-bottom: 20px;font-size: 15px;">
							<div class="col-xs-1">
							</div>
							<div class="form-group col-xs-3" style="margin-bottom: 0;padding: 0;">
								<label class="col-xs-12 control-label" >{{item.type}}:{{item.modularCredit}}</label>
							</div>
							<div class="form-group col-xs-3" style="margin-bottom: 0;padding: 0;">
								<label class="col-xs-12 control-label" ng-if="item.credit == null">已获学分:0</label>
								<label class="col-xs-12 control-label" ng-if="item.credit != null">已获学分:{{item.credit}}</label>
							</div>
							<div class="form-group col-xs-3" style="margin-bottom: 0;padding: 0;">
								<label class="col-xs-12 control-label" ng-if="item.choosePointNum == null">已选学分:0</label>
								<label class="col-xs-12 control-label" ng-if="item.choosePointNum != null">已选学分:{{item.choosePointNum}}</label>
							</div>
							<div class="col-xs-1">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 已选课表 -->
			<div id="selectedCourse" ng-show="selectedCourse" style="padding: 5% 0 20% 0;">
				<div class="right-content-table" style="padding-left: 24px;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>节次</th>
								<th>星期日</th>
								<th>星期一</th>
								<th>星期二</th>
								<th>星期三</th>
								<th>星期四</th>
								<th>星期五</th>
								<th>星期六</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in sectionList">
								<td>{{item.section}} <br/>（{{item.beginTime}}~{{item.endTime}}）</td>
								<td>
									<div>{{courseList[$index]['sunday']}}</div>
								</td>
								<td>
									<div>{{courseList[$index]['monday']}}</div>
								</td>
								<td>
									<div>{{courseList[$index]['tuesday']}}</div>
								</td>
								<td>
									<div>{{courseList[$index]['wednesday']}}</div>
								</td>
								<td>
									<div>{{courseList[$index]['thursday']}}</div>
								</td>
								<td>
									<div>{{courseList[$index]['friday']}}</div>
								</td>
								<td>
									<div>{{courseList[$index]['saturday']}}</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			
			
			<!-- 落选结果 -->
			<div id="unsuccessfulResult" ng-show="unsuccessfulResult" style="height: 154%;">
				<div class="right-content-table" style="padding: 0px 10px 160px 0px;">
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
					<div class="right-card">
						<label style="width: 49%;font-size: 17px;">JAVA语言程序设计</label>
						<label style="width: 24%;font-size: 14px;">公共选修</label>
						<label style="width: 24%;font-size: 14px;">2学分</label>
						
						<label style="width: 100%;font-size: 14px;">郑毅老师</label>
						
						<label style="width: 100%;font-size: 14px;">周一  3-4节  东区教学楼301</label>
					</div>
				</div>
			</div>
		
		</div>
	</div>

</div>
